*{
    margin: 0;
    padding: 0;
}
a:hover{
  transition: all var(--hover-time) ease;
}

body, html {
    background-color: #F4F5F7;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: var(--dark);
}
p {
    font-family: 'Open Sans', sans-serif;
    color: var(--dark);
    font-size: 15px;
}
em {
	  font-family: 'Open Sans', sans-serif;
    color: #99928A;
    font-size: 15px;
}
.centrarObjetos{
  display: flex;
  align-items: center;
  justify-content: center;
}
.centrarObjetosVertical{
  display: flex;
  align-items: center;
}
.parallax { 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax25 { 
  /* Full height */
  height: 25%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax50 { 
  /* Full height */
  height: 50%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax75 { 
  /* Full height */
  height: 75%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax100 { 
  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer{
  background-color: var(--gray);
}
#footer p{
  margin-bottom: 0;
  color: var(--light);
}
@media (max-width: 992px) {
  .parallax, .parallax25, .parallax50, .parallax75{
    background-attachment: initial;
    background-size: inherit !important;
    background-position: center !important;
    height: auto;
  }
  .parallax100{
    background-attachment: initial;
    background-size: inherit !important;
    background-position: center !important;
  }
}
@media (max-width: 768px){
  .md_hidden{
    display: none;
  }
}
@media (max-width: 576px){
  .sm_hidden{
    display: none;
  }
}