*{
    margin: 0;
    padding: 0;
}
a:hover{
  transition: all var(--hover-time) ease;
}

body, html {
    background-color: #F4F5F7;
    height: 100%;
}
.fadeOnLoad{
  display: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: var(--dark);
}
p {
    font-family: 'Open Sans', sans-serif;
    color: var(--dark);
    font-size: 16px;
}
em {
    font-family: 'Open Sans', sans-serif;
    color: #99928A;
    font-size: 15px;
}
.centrarObjetos{
  display: flex;
  align-items: center;
  justify-content: center;
}
.centrarObjetosVertical{
  display: flex;
  align-items: center;
}
.parallax { 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax25 { 
  /* Full height */
  height: 25%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax50 { 
  /* Full height */
  height: 50%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax75 { 
  /* Full height */
  height: 75%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax100 { 
  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#footer{
  background-color: var(--gray);
}
#footer p{
  margin-bottom: 0;
  color: var(--light);
}

  /*LOADING DE LA PÁGINA*/
  /*Solo poner la clase loader con 4 divs adentro para que funcione*/
  .loader {
    display: inline-block;
    position: relative;
    width: 180px;
    height: 180px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 180px;
    height: 180px;
    border: 15px solid #fff;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--primary) transparent transparent transparent;
  }
  .loader div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loader div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .loader div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media (max-width: 992px) {
  .parallax, .parallax25, .parallax50, .parallax75{
    background-attachment: initial;
    background-size: inherit !important;
    background-position: center !important;
    height: auto;
  }
  .parallax100{
    background-attachment: initial;
    background-size: inherit !important;
    background-position: center !important;
  }
}
@media (max-width: 768px){
  .md_hidden{
    display: none;
  }
}
@media (max-width: 576px){
  .sm_hidden{
    display: none;
  }
}

@media (min-width: 1500px){
  p{
    font-size: 18px;
  }
  .nav-link{
    font-size: 1.2em
  }
}